$white: #fff;
$black: #000;
$nan: #474b55;
$grey: #808080;
$lightergrey: #333333;
$charcoal: #4a4a4a;
$bahamablue: #23527c;
$nobel: #979797;
$solitude: #e5ebf2;
$mulledwine: #474b55;
$scarlet: #197ee3;
$whitesmoke: #f6f6f6;
$paleblue: #b8dcdb;
$bondiblue: #003c4b;
$bluelagoon: #006671;
$borderblue: #bce7e1;
$cobalt: #32363d;
$whitegrey: #f2f2f2;
$mediumgrey: #d4d4d4;
$lightgrey: #c9c9c9;
$emperor: #505050;
$bordersilver: #c0c0c0;
$primary-button: #197ee3;
$button-hover: #197ec3;
$dustygray: #9a9494;
$bordersilver: #c4c4c4;
$concrete: #f2f2f2;
$lightgrey: #c9c9c9;
$neptune: #80b3b9;
$purplegreen: #7dc5c3;
$aqua: #ebf6f5;
$wildsand: #f6f6f6;
$mineshaft: #333;
$emperor: #006570;
$navcolor: #006671;
$tabactive: #006570;
$jaggedice: #c3e7e3;
$needgrey:#717171;
$silver: #c2c2c2;
$red:#b20000;
$primarynav: #797979;
$navtext: #809da5;
$secondarynavactive: #f0f0f0;
$icongreycolor: #b5b7bb;
$gridicons: #9b9b9b;
$tablestripecolor: #f1f9f8;
$huewhite: #898f9e;
$gainsboro: #e3e3e3;
$gainsborolight: #d9d9d9;
$dullgrey: #f8f8f8;
$success: #008000;
$preferbg: #c9c9c9;
$dullgrey: #f8f8f8;
$wepeep: #faebee;
$cardinal: #c41f3d;
$secondary-trans: #1771cc;
$solidborder: #c3c3c3;
$input: #242424;
$warn:#ed9f1b;
$gainsboro-dark: #dddddd;
$verylightgrey:#cfcfcf;
$transparent: transparent;
$darkgrey: #707688;
$limegreen: #32cd32;
$curiousblue: #337ab7;
$twilightblue: #e5f6fa;
$matterhorn: #575757;
$azureblue: #EAF8FB;
$magneta: #7ec5c2;
$dividerline: #d8d8d8;
$pagination: #cdcdcd;
$pagearrow: #c1c1c1;
$agreebackground: #eefae9;
$earlsgreen: #b8c42e;
$logoutborder: #c2c2c2;
$boxshadowmenu: #c5c5c5;
$formdivider:#9e9e9e;
$dimgrey: #717171;
$fountainblue: #58c3b4;
$liteyellow: #eefae9;
$antiquewhite: #fcf0dc;
$greyborder: #c2c2c2;
$pacificblue: #00a6cf;
$powderblue: #bae2e0;
$filtericon: #bbbbbb;
$azurelight: #eaf8fb;
$mobilenav: #89c5c3;
$tweet: #1da1f2;
$cornflowerblue: #6495ed;
$filtericon: #bbbbbb;
$error-message: #d0021b;
$input-text: #242424;
$footerBorder: #8c8c8c;
$panelwarning-bg:#fdf4e4;
$twitterblue: #1da1f2;
$lightred: #fcf3f5;
$cornflowerblue: #0a6fcf;
$lightblue: #eaf8fb;
$jaggedice: #c3e7e3;
$disabled: #eee;
$link-hover: #004A94;

//dashboard variables
$dashboard-dark-blue: #263238;
$dashboard-grey: #455A64;
$body-bg: #EEF5F9;
$dashboard-blue: #1976D2;
$white : #fff;
$black: #000;

//****** Media query *******///
$screen-lg-min: 1200px;
$ipad: 1024px;
$ipadport: 768px;
$mobile: 768px;
$tablet:768px;
$desktop:992px;
$large-desktop: 1200px;
$tabletmobile: 991px;
$iphone: 480px;