{% set dropdownCompItems = [
{id:"#nav-6", compid:"nav-bar", compimage:"components/nav/nav-bar", cardtitle:"Nav bar", carddesc:"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs"},
{id:"#nav-0", compid:"nav-basiclist", compimage:"components/nav/nav-basiclist", cardtitle:"Nav basiclist", carddesc:"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs"},
{id:"#nav-1", compid:"nav-basicpill", compimage:"components/nav/nav-basicpill", cardtitle:"Nav basicpill", carddesc:"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs"},
{id:"#nav-3", compid:"nav-custom-nav-list", compimage:"components/nav/nav-custom-nav-list", cardtitle:"Nav custom nav list", carddesc:"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs"},
{id:"#nav-4", compid:"nav-custom-pills", compimage:"components/nav/nav-custom-pills", cardtitle:"Nav custom pills", carddesc:"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs"},
{id:"#nav-5", compid:"nav-custom-tabs", compimage:"components/nav/nav-custom-tabs", cardtitle:"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs"}
] %}
{% include "component-list-template.njk" %}