{% set dropdownCompItems = [
{id:"#accordion-0", compid:"accordion-banking", compimage:"components/accordion/accordion-banking", cardtitle:"Accordion banking", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."},
{id:"#accordion-1", compid:"accordion-healthcare", compimage:"components/accordion/accordion-healthcare", cardtitle:"Accordion healthcare", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."}
] %}

{% include "component-list-template.njk" %}