

   
<div class="dropdown-components trending-components tabs-components mb-4">
        
        <div class="row "> 
                     
                        
            <div class="col-md-6 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                       <div class="card-img-top">
                           
                           
<div class="jumbotron jumbotron-fluid p-0">
    <div class="container banner-img-header">
        <div class="row">
            <div class="col-md-12 m-4">
                <h1 class="display-4 text-white">Hello, world!</h1>
                <p class="lead text-white w-50">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>               
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    </div>

                        </div> 
                   </div>
                    <a href="#banner-0" class="arrow-circle rounded-circle text-center" id="bannerimg" ><i class="fa fa-angle-right"></i></a>
                     <a href="#" class="download-circle rounded-circle text-center"></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Banner image</h5>
                        <p class="card-text">Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                    </div>
            </div>

            

            
        </div>
        <div class="view-more text-center">
            <button class="btn btn-primary rounded-0 ">VIEW MORE <span><i class="fa fa-angle-double-right"></i></span></button>
        </div>
    </div>