{# {% set dropdownCompItems = [
{id:"#progressbar-0", compid:"progressbar-custom", compimage:"components/progress/progressbar-custom", cardtitle:"Progressbar", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"}
] %}

{% include "component-list-template.njk" %} #}

