<!-- base.njk -->
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0">
    <meta name="format-detection" content = "telephone=no">
      
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"> 
    <link rel="stylesheet" href="css/kitchensink.css">
    <link rel="stylesheet" href="css/style.css"> 
    <title>Welcome | XD Studio</title>
    </head>
    <body>

        
<div class="container-fluid p-0">

<div class="header-section">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"><img src="img/logo.svg"></a>
        <button class="navbar-toggler" type="text" data-toggle="collapse" data-target="#menu-toggle-2" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="menu-toggle-1">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
            <a class="nav-link" href="#"><button class="btn navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> 
            <i class="fa fa-bars bar-font"></i>
            </button><span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a href="#downloadpage" class="download-btn">        
             DOWNLOAD STARTER KIT
        </a>
        </div>
    </nav>
</div>


   
</div>


        <div class="main">
            
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">          
            
<div id="wrapper">
  <div id="sidebar-wrapper">
    
<div class="side-menu">
    <ul class="sidebar-nav nav-pills nav-stacked " id="menu">
        <li>
            <a href="#dashboard" class="dashboard">Dashboard </a>
        </li>
        
        <li>
            <a href="#" class="basic-compo">Basic Components <i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
            <ul>
               
                <li>
                    <a href="#accordion">Accordion</a>
                </li>
                <li>
                    <a href="#banner">Banner image</a>
                </li>

                <li>
                    <a href="#breadcrumb">Breadcrumb</a>
                </li>

                <li>
                    <a href="#cards">Cards</a>
                </li>

                <li>
                    <a href="#carousel">Carousel</a>
                </li>

                <li>
                    <a href="#dropdownmenu">Dropdown Menu</a>
                </li>

                <li>
                    <a href="#modal-popup">Modal popup</a>
                </li>
                <li>
                    <a href="#nav">Nav</a>
                </li>
                <li>
                    <a href="#navbar">Navbar</a>
                </li>
                <li>
                    <a href="#pagenav">Page nav</a>
                </li>
                <li>
                    <a href="#popover">Popover</a>
                </li>
                <li>
                    <a href="#progressbar">Progressbar</a>
                </li>
                <li>
                    <a href="#responsive-tab">Responsive tab</a>
                </li>
                <li>
                    <a href="#timeline">Timeline</a>
                </li>
            </ul>
        </li>
<li>
            <a href="#" class="project-list"> Project <i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
            <ul>
                <li>
                    <a href="#">Nalco<i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
                    <ul>
                        <li>
                            <a href="#">Article</a>
                        </li>
                        <li>
                            <a href="#">Tabs</a>
                        </li>
                    </ul>                    
                </li>
                <li>
                    <a href="#">CMHC<i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
                    <ul>
                        <li>
                            <a href="#">Masanary grid</a>
                        </li>
                        <li>
                            <a href="#">Article</a>
                        </li>
                    </ul>                    
                </li>                 
                <li>
                    <a href="#">OUA<i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
                    <ul>
                        <li>
                            <a href="#">Carousel</a>
                        </li>
                        <li>
                            <a href="#">Tabs</a>
                        </li>
                    </ul>                    
                </li>
                <li>
                    <a href="#">PSE<i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
                    <ul>
                        <li>
                            <a href="#">Outage Map</a>
                        </li>
                        <li>
                            <a href="#">DataTable</a>
                        </li>
                    </ul>                       
                </li>  
                <li>
                    <a href="#">Enbridge<i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
                    <ul>
                        <li>
                            <a href="#">CTA</a>
                        </li>
                        <li>
                            <a href="#">Tabs</a>
                        </li>
                    </ul>                       
                </li>                                             
            </ul>
        </li>        
        <li>
            <a href="#" class="layout"> Layout </a>
        </li>
        <li>
            <a href="#" class="form"> Form </a>
        </li>
        <li>
            <a href="#" class="table-list"> Table </a>
        </li>
        <li>
            <a href="#" class="extension"> Extension </a>
        </li>
    </ul>
</div>
  
  </div>
  <div id="page-content-wrapper">
      <div class="container-fluid m-0 p-0">
        
<div class="dashboard-bread">
    <div class="">
        <p class="p-2">
            <input type="" name="Search" placeholder="Search Components">
        </p>
    </div>
</div>
 
      </div>
      <div id="dashboard" class="components-toggle"> 
         
 
 <div id="dashboard-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#dashboard-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#dashboard-carousel" data-slide-to="1"></li>
          <li data-target="#dashboard-carousel" data-slide-to="2"></li>
          <li data-target="#dashboard-carousel" data-slide-to="3"></li>
          <li data-target="#dashboard-carousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
        
          
          <div class="carousel-item active">
          
            <div class="view">
              <img class="d-block w-100" src= 'img/Presentation-Components@2x.png' alt="slide-img">
              <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive"></h3>
              <p></p>
            </div>
          </div>
          
          
          <div class="carousel-item">
          
            <div class="view">
              <img class="d-block w-100" src= 'img/Download-banner-2@2x.png' alt="slide-img">
              <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive"></h3>
              <p></p>
            </div>
          </div>
          
          
          <div class="carousel-item">
          
            <div class="view">
              <img class="d-block w-100" src= 'img/Custom-Download-banner-2@2x.png' alt="slide-img">
              <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive"></h3>
              <p></p>
            </div>
          </div>
          
          
          <div class="carousel-item">
          
            <div class="view">
              <img class="d-block w-100" src= 'img/Live-editor-banner-3@2x.png' alt="slide-img">
              <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive"></h3>
              <p></p>
            </div>
          </div>
          
          
          <div class="carousel-item">
          
            <div class="view">
              <img class="d-block w-100" src= 'img/Unit-testing@2x.png' alt="slide-img">
              <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive"></h3>
              <p></p>
            </div>
          </div>
          
        </div>        
      </div>     
        

    <div class="trending-components mb-4">
        <h3 class="heading">Top Trending Components</h3>
        <div class="row "> 
                     
                        
            <div class="col-md-4 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                        <img class="card-img-top img-fluid" src="img/compo-2.png" alt="Card image">
                   </div>
                    <a href="#" class="arrow-circle rounded-circle text-center"><i class="fa fa-angle-right"></i></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Dropdowns</h5>
                        <p class="card-text">Some quick, example text to build on the card title and make up the bulk of the card’s content.</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                    </div>
            </div>

            

                         
                        
            <div class="col-md-4 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                        <img class="card-img-top img-fluid" src="img/compo-3.png" alt="Card image">
                   </div>
                    <a href="#" class="arrow-circle rounded-circle text-center"><i class="fa fa-angle-right"></i></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Tabs</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                    </div>
            </div>

            

                         
                        
            <div class="col-md-4 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                        <img class="card-img-top img-fluid" src="img/compo-1.png" alt="Card image">
                   </div>
                    <a href="#" class="arrow-circle rounded-circle text-center"><i class="fa fa-angle-right"></i></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Jumbotron</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                    </div>
            </div>

            

            
        </div>
        <div class="view-more text-center">
            <button class="btn btn-primary rounded-0 ">VIEW MORE <span><i class="fa fa-angle-double-right"></i></span></button>
    </div>
</div>
    
        

    <div class="trending-components mb-4">
        <h3 class="heading">Most Downloaded Components</h3>
        <div class="row "> 
                     
                        
            <div class="col-md-4 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                        <img class="card-img-top img-fluid" src="img/compo-4.png" alt="Card image">
                   </div>
                    <a href="#" class="arrow-circle rounded-circle text-center"><i class="fa fa-angle-right"></i></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Card title</h5>
                        <p class="card-text">Some quick example .text to build on the card title and make up the bulk of the card’s content.</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                    </div>
            </div>

            

                         
                        
            <div class="col-md-4 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                        <img class="card-img-top img-fluid" src="img/compo-5.png" alt="Card image">
                   </div>
                    <a href="#" class="arrow-circle rounded-circle text-center"><i class="fa fa-angle-right"></i></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Pagination</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                    </div>
            </div>

            

                         
                        
            <div class="col-md-4 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                        <img class="card-img-top img-fluid" src="img/compo-2.png" alt="Card image">
                   </div>
                    <a href="#" class="arrow-circle rounded-circle text-center"><i class="fa fa-angle-right"></i></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Media object</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                    </div>
            </div>

            

                         
                        
            <div class="col-md-4 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                        <img class="card-img-top img-fluid" src="img/compo-1.png" alt="Card image">
                   </div>
                    <a href="#" class="arrow-circle rounded-circle text-center"><i class="fa fa-angle-right"></i></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Tabs</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                    </div>
            </div>

            

            
        </div>
        <div class="view-more text-center">
            <button class="btn btn-primary rounded-0 ">VIEW MORE <span><i class="fa fa-angle-double-right"></i></span></button>
    </div>
</div>
    

      </div>

      <div id="accordion" class="components-toggle">
        


<div class="dropdown-components trending-components tabs-components mb-4">
        
    <div class="row "> 
                     
                        
            <div class="col-md-6 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                       <div class="card-img-top">
                           
<div class="container">
    <div class="row">
        <div class="col-md-12 custom-accordion">
    <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

    <div class="card">
        <div class="card-header" role="tab" id="headingTwo1">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
            aria-expanded="false" aria-controls="collapseTwo1">
            <h5 class="mb-0">
            Collapsible Group Item #1 <i class="fa fa-angle-down rotate-icon"></i>
            </h5>
        </a>
        </div>
        <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#accordionEx1">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf
            moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch
            3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch
            et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            Ad
            vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
        </div>

    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo2">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21"
            aria-expanded="false" aria-controls="collapseTwo21">
            <h5 class="mb-0">
            Collapsible Group Item #2 <i class="fa fa-angle-down rotate-icon"></i>
            </h5>
        </a>
        </div>
        <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21" data-parent="#accordionEx1">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf
            moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch
            3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch
            et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            Ad
            vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
        </div>

    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree31">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
            aria-expanded="false" aria-controls="collapseThree31">
            <h5 class="mb-0">
            Collapsible Group Item #3 <i class="fa fa-angle-down rotate-icon"></i>
            </h5>
        </a>
        </div>
        <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31" data-parent="#accordionEx1">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf
            moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch
            3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch
            et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            Ad
            vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
        </div>
    </div>
    </div>       
        </div>
    </div>
</div> 

                        </div> 
                   </div>
                    <a href="#accordion-0" class="arrow-circle rounded-circle text-center" id="accordion-banking" ><i class="fa fa-angle-right"></i></a>
                     <a href="#" class="download-circle rounded-circle text-center"></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Accordion banking</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                </div>
            </div>

            

                     
                        
            <div class="col-md-6 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                       <div class="card-img-top">
                           
<div class="container">
    <div class="row">
        <div class="col-md-12 accordion-picture">
            <div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
                <div class="card">
                    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading96">
                    <h5 class="text-uppercase mb-0 py-1">
                        <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="true"
                        aria-controls="collapse96">
                        Accordion-1                        
                        </a>  
                        <i class="fa fa-angle-down rotate-icon float-right white-text"></i>                                            
                    </h5>                     
                    </div>
                    <div id="collapse96" class="collapse show" role="tabpanel" aria-labelledby="heading96" data-parent="#accordionEx23">
                    <div class="card-body">
                        <div class="row my-4">
                        <div class="col-md-8">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                            <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading97">
                    <h5 class="text-uppercase mb-0 py-1">
                        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse97"
                        aria-expanded="false" aria-controls="collapse97">
                        Accordion-2                        
                        </a>  
                        <i class="fa fa-angle-down rotate-icon float-right white-text"></i>                      
                    </h5>
                    
                    </div>
                    <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97" data-parent="#accordionEx23">
                    <div class="card-body">
                        <div class="row my-4">
                        <div class="col-md-8">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                            <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading98">
                    <h5 class="text-uppercase mb-0 py-1">
                        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse98"
                        aria-expanded="false" aria-controls="collapse98">
                        Accordion-3                       
                        </a>
                        <i class="fa fa-angle-down rotate-icon float-right white-text"></i> 
                    </h5>
                    </div>
                    <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98" data-parent="#accordionEx23">
                    <div class="card-body">
                        <div class="row my-4">
                        <div class="col-md-8">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the third one.</h2>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                            <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                        </div> 
                   </div>
                    <a href="#accordion-1" class="arrow-circle rounded-circle text-center" id="accordion-healthcare" ><i class="fa fa-angle-right"></i></a>
                     <a href="#" class="download-circle rounded-circle text-center"></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Accordion healthcare</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                </div>
            </div>

            

        
    </div>
        
</div>




      </div>         

      <div id="banner" class="components-toggle">
        
    

<div class="dropdown-components trending-components tabs-components mb-4">
        
    <div class="row "> 
                     
                        
            <div class="col-md-6 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                       <div class="card-img-top">
                           
<div class="jumbotron jumbotron-fluid p-0">
    <div class="container banner-img-header">
        <div class="row">
            <div class="col-md-12 m-4">
                <h1 class="display-4 text-white">Hello, world!</h1>
                <p class="lead text-white w-50">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>               
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    </div>

                        </div> 
                   </div>
                    <a href="#banner-0" class="arrow-circle rounded-circle text-center" id="banner-img" ><i class="fa fa-angle-right"></i></a>
                     <a href="#" class="download-circle rounded-circle text-center"></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Banner image</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                </div>
            </div>

            

        
    </div>
        
</div>


      </div>

      
  </div>
</div>

        </div>
      </div>
    </div>

        </div>

        
            
        
        <script src="js/vendor/jquery.min.js"></script>
    <script src="js/kitchensink/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/dashboard/dashboard.js"></script>
    <script type="text/javascript" src="js/vendor/jszip.js"></script>
    <script src="js/download/download.js"></script>     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.19.0/codemirror.js"></script>
    <!-- For HTML/XML -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.19.0/mode/xml/xml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.19.0/mode/htmlmixed/htmlmixed.js"></script>

<!-- For CSS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.16.0/mode/css/css.js"></script>

<!-- For JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.19.0/mode/javascript/javascript.js"></script>

    <script src="js/editor/js.js"></script>
    <script src="js/editor/resizer.js"></script>
    </body>
</html>