<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0">
    <meta name="format-detection" content = "telephone=no"> 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/indexpagestyle.css">
<body>

<div class="container-fluid p-0">
  <div class="header-section">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#"></a>
          <span class="navbar-text">Sample Project </span>
      </nav>
  </div>
</div>
<div class="main">
    <div class="container-fluid">
      <div class="row">
            <div class="col-md-12"> 
                <div id="wrapper">
                    <div id="sidebar-wrapper">    
                        <div class="side-menu">
                            <ul class="sidebar-nav nav-pills nav-stacked " id="menu">
                                <li class="active">
                                <a href="#dashboard"><i class="fa fa-home pr-3"></i> Dashboard </a>
                                </li>
                                <li id="project-comp">
                                <a href="#"><i class="fa fa-file pr-3"></i> Project  <i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
                                </li>
                                <li id="basic-comp">
                                <a href="#"><i class="fa fa-align-justify pr-3"></i>Basic Components <i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
                                    <ul style="display: none;">
                                        <li>
                                            <a href="#nav"><i class="fa fa-align-justify pr-3"></i>Tabs<i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
                                        </li>
                                        <li>
                                            <a href="#nav"><i class="fa fa-align-justify pr-3"></i>Alerts<i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
                                        </li>
                                        <li>
                                            <a href="#nav"><i class="fa fa-align-justify pr-3"></i>Accordian<i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
                                        </li>
                                        <li class="active">
                                            <a href="#dropdownmenu-edit"><i class="fa fa-align-justify pr-3"></i>Dropdown<i class="fa fa-angle-right pr-4 pull-right mt-3"></i></a>
                                        </li>
                                    </ul>
                                </li>                               
                            </ul>
                        </div>  
                    </div>
                    <div id="page-content-wrapper">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script src="js/vendor/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
 <script src="js/vendor/bootstrap.min.js"></script>
 <script type="text/javascript" src="js/vendor/jszip.js"></script>
 <script src="js/download/download.js"></script> 
</body>
</html> 
