#comp-search-results.clearfix
    ul.col-md-4.componets-list
        .h8 Components
        p.no-results-kitchen No results found
        li
            ul.commentlist
                li.li-heading

                //- li
                //-     a.components-display-link(href='#', data-section-id='tabs') Tabs                                        
                //- li
                //-     a.components-display-link(href='#', data-section-id='pills') Pills
                //- li
                //-     a.components-display-link(href='#', data-section-id='inline-list') Nav Menus
                //- li
                //-     a.components-display-link(href='#', data-section-id='breadcrumb') breadcrumb 
                //- li
                //-     a.components-display-link(href='#', data-section-id='pagination') pagination
                //- li
                //-     a.components-display-link(href='#', data-section-id='pager') pager
                //- li
                //-     a.components-display-link(href='#', data-section-id='imgDescription') Custom cards
                //- li
                //-     a.components-display-link(href='#', data-section-id='twoColimgDescription') Two Col Image Description
                //- li
                //-     a.components-display-link(href='#', data-section-id='media-object') Media Object
                //- li
                //-     a.components-display-link(href='#', data-section-id='modalPopup') Modal Popup
                //- li
                //-     a.components-display-link(href='#', data-section-id='carousel') Carousel
                //- li
                //-     a.components-display-link(href='#', data-section-id='timeline-component') Timeline
                //- li
                //-     a.components-display-link(href='#', data-section-id='custom-progress') Progress Bar
                //- li
                //-     a.components-display-link(href='#', data-section-id='custom-badge') Badges        
                //- li
                //-     a.components-display-link(href='#', data-section-id='custom-popover') Popover
                //- li
                //-     a.components-display-link(href='#', data-section-id='custom-accordion') Accordion