.col-md-3.components-wrapper     
    .dropdown.components-dropdown.dropdown-accordion#accordion1
        a(href='#', data-toggle='dropdown' class="header-dropdown dropdown-toggle") Components
        .dropdown-menu(role='menu', aria-labelledby='dLabel')            
            .card
                .card-header#header1
                    a(class="card-link" data-toggle="collapse" href="#collapseOne") Carousel                                
                div(id="collapseOne" class="collapse" aria-labelledby="header1" data-parent="#accordion1")  
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='custom-carousel') Carousel
                                br 
            .card
                .card-header#header2
                    a(class="card-link" data-toggle="collapse" href="#collapseBanner") Banner Image                                
                div(id="collapseBanner" class="collapse" aria-labelledby="header2" data-parent="#accordion1") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='banner-img') Banner Image
                                br 
            .card
                .card-header#header3
                    a(class="card-link" data-toggle="collapse" href="#collapseNavbar") Navbar                                
                div(id="collapseNavbar" class="collapse" aria-labelledby="header3" data-parent="#accordion1") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='navbar') Navbar
                                br 
            .card
                .card-header#header4
                    a(class="card-link" data-toggle="collapse" href="#collapseCards") Cards                                
                div(id="collapseCards" class="collapse" aria-labelledby="header4" data-parent="#accordion1") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='card-img') Card Image
                                br 
                            li
                                a.components-display-link(href='#', data-section-id='card-img-overlay') Card Image overlay
                                br
                            li
                                a.components-display-link(href='#', data-section-id='card-tile') Card Tile
                                br
                            li
                                a.components-display-link(href='#', data-section-id='card-desc') Card Description
                                br
            .card
                .card-header#header5
                    a(class="card-link" data-toggle="collapse" href="#collapseNav") Nav                               
                div(id="collapseNav" class="collapse" aria-labelledby="header5" data-parent="#accordion1") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='tabs') Tabs
                                br
                            li
                                a.components-display-link(href='#', data-section-id='pills') Pills
                                br
                            li
                                a.components-display-link(href='#', data-section-id='inline-list') Nav List
                                br
            .card
                .card-header#header6
                    a(class="card-link" data-toggle="collapse" href="#collapsescrollTopBottom") Scroll Top Bottom                               
                div(id="collapsescrollTopBottom" class="collapse" aria-labelledby="header6" data-parent="#accordion1") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='scrollTopBottom') Scroll Top Bottom
                                br 
            .card
                .card-header#header7
                    a(class="card-link" data-toggle="collapse" href="#collapsebreadcrumb") Breadcrumb                               
                div(id="collapsebreadcrumb" class="collapse" aria-labelledby="header7" data-parent="#accordion1") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='breadcrumb') Breadcrumb
                                br 
            .card
                .card-header#header8
                    a(class="card-link" data-toggle="collapse" href="#collapsetestimonial") Testimonial                               
                div(id="collapsetestimonial" class="collapse" aria-labelledby="header8" data-parent="#accordion1") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='testimonial') Testimonial
                                br 
            .card
                .card-header#header9
                    a(class="card-link" data-toggle="collapse" href="#collapsetimeline") Timeline                               
                div(id="collapsetimeline" class="collapse" aria-labelledby="header9" data-parent="#accordion1") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='timeline-component') Timeline
                                br 
            .card
                .card-header#header10
                    a(class="card-link" data-toggle="collapse" href="#collapseatoms") Atoms                               
                div(id="collapseatoms" class="collapse" aria-labelledby="header10" data-parent="#accordion1") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='custom-badge') Badge
                                br 
                            li
                                a.components-display-link(href='#', data-section-id='spinner') Spinner
                                br 
            .card
                .card-header#header11
                    a(class="card-link" data-toggle="collapse" href="#collapsepopover") Popover                               
                div(id="collapsepopover" class="collapse" aria-labelledby="header11" data-parent="#accordion1") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='custom-popover') Popover
                                br 
            .card
                .card-header#header12
                    a(class="card-link" data-toggle="collapse" href="#collapseprogressbar") Progress bar                               
                div(id="collapseprogressbar" class="collapse" aria-labelledby="header12" data-parent="#accordion1") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='custom-progress') Progress bar
                                br 
            .card
                .card-header#header13
                    a(class="card-link" data-toggle="collapse" href="#collapsetabaccordion") Responsive Tab Accordion                               
                div(id="collapsetabaccordion" class="collapse" aria-labelledby="header13" data-parent="#accordion1") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='tab-accordion') Responsive Tab Accordion
                                br 
.col-md-3.components-wrapper     
    .dropdown.components-dropdown.dropdown-accordion#accordion2
        a(href='#', data-toggle='dropdown' class="header-dropdown dropdown-toggle") EMS Components
        .dropdown-menu(role='menu', aria-labelledby='dLabel')            
            .card
                .card-header#headeracc1
                    a(class="card-link" data-toggle="collapse" href="#collapseArticle") Article                                
                div(id="collapseArticle" class="collapse" aria-labelledby="headeracc1" data-parent="#accordion2")  
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='article') Article
                                br             
            .card
                .card-header#headeracc2
                    a(class="card-link" data-toggle="collapse" href="#collapseAccordion") Accordion                                
                div(id="collapseAccordion" class="collapse" aria-labelledby="headeracc2" data-parent="#accordion2") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='ems-accordion') Accordion
                                br
            .card
                .card-header#headeracc3
                    a(class="card-link" data-toggle="collapse" href="#collapseCTA") CTA                                
                div(id="collapseCTA" class="collapse" aria-labelledby="headeracc3" data-parent="#accordion2") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='ems-cta') CTA
                                br
            .card
                .card-header#headeracc4
                    a(class="card-link" data-toggle="collapse" href="#collapseEmsCarousel") Carousel                                
                div(id="collapseEmsCarousel" class="collapse" aria-labelledby="headeracc4" data-parent="#accordion2") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='ems-carousel') EMS-Carousel
                                br
            .card
                .card-header#headeracc5
                    a(class="card-link" data-toggle="collapse" href="#collapsemodal") Modal Popup                                
                div(id="collapsemodal" class="collapse" aria-labelledby="headeracc5" data-parent="#accordion2") 
                    .card-body.scrollable-menu.scrollbar
                        ul
                            li
                                a.components-display-link(href='#', data-section-id='modalPopup') Modal Popup 
                                br
.col-md-3
    a(class="btn btn-outline-light px-4" href="" id="downloadjs" onClick="downloadComponents(this.id)" download) Download
.col-md-3
    a(class="btn btn-outline-light px-4" href="#" id="customize") customize
