.footer-top.col-lg-12
    .row
      .col-md-3
        .footer-box
          h5.footer-box-title Our Key Service
          .menu-services-menu-container
            ul
              li
                a(href='#') Magento Development
              li
                a(href='#') Development
              li
                a(href='#') Magento 
              li
                a(href='#') Development  
      .col-md-2
        .footer-box
          h5.footer-box-title Useful Links
          .menu-useful-links-container
            ul
              li
                a(href='#') Careers
              li
                a(href='') Terms and Conditions
              li
                a(href='') Privacy Policy
              li
                a(href='') Sitemap
      .col-md-4
        .footer-box
          h5.footer-box-title Contact us
          ul.footer-contact
            li
              a(href='#') 
                i.fa.fa-envelope
                span info@asdsaf@gmail.com

            li
              a(href='#')
                i.fa.fa-skype.icon-skype
                span skype
            li
              a(href='tel:+1 123 234 6789') 
                i.fa.fa-phone.icon-phone
                span +1 123 234 6789
              br
              a(href='tel:+44 (0) 124235347' class="margin-left") 
                | +44 (0) 124235347 
      .col-md-3
        .footer-box
          .footer-search
            .input-group.mb-3
              input(type="text" class="form-control border-1 border-dark" placeholder="Search")
              .input-group-append
                button(class="btn btn-success" type="submit") Go
          .footer-address.my-3
            | 506, lorem ipsum, lorem ipsum, lorem ipsum 380 015, CHENNAI - INDIA.
          h5.footer-box-title Find us on
          ul.footer-social
            li.d-inline-block.bg-info
              a(href='https://www.facebook.com/', target='_blank')
                i.fa.fa-facebook
            li.d-inline-block.bg-danger
              a(href='https://twitter.com/', target='_blank')
                i.fa.fa-twitter
            li.d-inline-block.bg-success
              a(href='https://www.linkedin.com//', target='_blank')
                i.fa.fa-linkedin
            li.d-inline-block.bg-primary
              a(href='https://plus.google.com/', target='_blank')
                i.fa.fa-google-plus