.kitchensink-search-bar
    h4 Search your components here
    form#live-search.styled(action='', method='post')
        fieldset
            input#comp-filter.text-input(type='text', value='', placeholder='Enter components..')
    include component-search-results