//- .common-component-wrapper.reusable-wrapper
//-     .kitchensink-banner-section.component-section#tabs
//-         include ../html/components/nav/custom-tabs.html
//-         #edit.custom-tabs Customize & download            
//-         button.btn.btn-copy(data-clipboard-target='#tabs-source') Copy
//-         xmp#tabs-source
//-          include ../html/components/nav/custom-tabs.html
//-     .kitchensink-banner-section.component-section#pills
//-         include ../html/components/nav/custom-pills.html            
//-         button.btn.btn-copy(data-clipboard-target='#pills-source') Copy
//-         xmp#pills-source
//-          include ../html/components/nav/custom-pills.html
//-     .kitchensink-banner-section.component-section#inline-list
//-         include ../html/components/nav/custom-nav-list.html    
//-         button.btn.btn-copy(data-clipboard-target='#inline-list-source') Copy
//-         xmp#inline-list-source
//-          include ../html/components/nav/custom-nav-list.html
//-     .kitchensink-banner-section.component-section#breadcrumb
//-         include ../html/components/breadcrumb/custom-breadcrumbs.html           
//-         button.btn.btn-copy(data-clipboard-target='#breadcrumb-source') Copy
//-         xmp#breadcrumb-source
//-          include ../html/components/breadcrumb/custom-breadcrumbs.html
//-     .kitchensink-banner-section.component-section#pagination
//-         include ../html/components/pagenav/custom-pagination.html           
//-         button.btn.btn-copy(data-clipboard-target='#pagination-source') Copy
//-         xmp#pagination-source
//-          include ../html/components/pagenav/custom-pagination.html   
//-     .kitchensink-banner-section.component-section#modalPopup
//-         include ../html/components/modalpopup/custom-modal.html          
//-         button.btn.btn-copy(data-clipboard-target='#modalPopup-source') Copy
//-         xmp#modalPopup-source
//-          include ../html/components/modalpopup/custom-modal.html    
//-     .kitchensink-banner-section.component-section#custom-carousel
//-         include ../html/components/carousel/custom-carousel.html          
//-         button.btn.btn-copy(data-clipboard-target='#custom-carousel-source') Copy
//-         xmp#custom-carousel-source
//-          include ../html/components/carousel/custom-carousel.html
//-     .kitchensink-banner-section.component-section#timeline-component
//-         include ../html/components/timeline/timeline-component.html    
//-         button.btn.btn-copy(data-clipboard-target='#timeline-component-source') Copy
//-         xmp#timeline-component-source
//-          include ../html/components/timeline/timeline-component.html
//-     .kitchensink-banner-section.component-section#custom-progress
//-         include ../html/components/progressbar/custom-progressbar.html           
//-         button.btn.btn-copy(data-clipboard-target='#custom-progress-source') Copy
//-         xmp#custom-progress-source
//-          include ../html/components/progressbar/custom-progressbar.html
//-     .kitchensink-banner-section.component-section#custom-badge
//-         include ../html/atoms/badge/custom-badge.html           
//-         button.btn.btn-copy(data-clipboard-target='#custom-badge-source') Copy
//-         xmp#custom-badge-source
//-          include ../html/atoms/badge/custom-badge.html
//-     .kitchensink-banner-section.component-section#spinner
//-         include ../html/atoms/spinners/spinners.html          
//-         button.btn.btn-copy(data-clipboard-target='#spinner-source') Copy
//-         xmp#spinner-source
//-          include ../html/atoms/spinners/spinners.html
//-     .kitchensink-banner-section.component-section#custom-popover
//-         include ../html/components/popover/custom-popover.html           
//-         button.btn.btn-copy(data-clipboard-target='#custom-popover-source') Copy
//-         xmp#custom-popover-source
//-          include ../html/components/popover/custom-popover.html
//-     .kitchensink-banner-section.component-section#custom-accordion
//-         include ../html/components/accordion/custom-accordion.html           
//-         button.btn.btn-copy(data-clipboard-target='#custom-accordion-source') Copy
//-         xmp#custom-accordion-source
//-          include ../html/components/accordion/custom-accordion.html
//-     .kitchensink-banner-section.component-section#article
//-         include ../html/components/ems-components/article.html           
//-         button.btn.btn-copy(data-clipboard-target='#article-source') Copy
//-         xmp#article-source
//-          include ../html/components/ems-components/article.html  
//-     .kitchensink-banner-section.component-section#cookie
//-         include ../html/components/ems-components/cookie.html           
//-         button.btn.btn-copy(data-clipboard-target='#cookie-source') Copy
//-         xmp#cookie-source
//-          include ../html/components/ems-components/cookie.html
//-     .kitchensink-banner-section.component-section#banner-img
//-         include ../html/components/banner-img/banner-img.html           
//-         button.btn.btn-copy(data-clipboard-target='#banner-img-source') Copy
//-         xmp#banner-img-source
//-          include ../html/components/banner-img/banner-img.html
//-     .kitchensink-banner-section.component-section#navbar
//-         include ../html/components/navbar/navbar.html           
//-         button.btn.btn-copy(data-clipboard-target='#navbar-source') Copy
//-         xmp#navbar-source
//-          include ../html/components/navbar/navbar.html
//-     .kitchensink-banner-section.component-section#card-img
//-         include ../html/components/cards/card-img.html           
//-         button.btn.btn-copy(data-clipboard-target='#card-img-source') Copy
//-         xmp#card-img-source
//-          include ../html/components/cards/card-img.html
//-     .kitchensink-banner-section.component-section#card-img-overlay
//-         include ../html/components/cards/card-img-overlay.html           
//-         button.btn.btn-copy(data-clipboard-target='#card-img-overlay-source') Copy
//-         xmp#card-img-overlay-source
//-          include ../html/components/cards/card-img-overlay.html
//-     .kitchensink-banner-section.component-section#card-tile
//-         include ../html/components/cards/card-tile.html           
//-         button.btn.btn-copy(data-clipboard-target='#card-tile-source') Copy
//-         xmp#card-tile-source
//-          include ../html/components/cards/card-tile.html
//-     .kitchensink-banner-section.component-section#card-desc
//-         include ../html/components/cards/card-desc.html           
//-         button.btn.btn-copy(data-clipboard-target='#card-desc-source') Copy
//-         xmp#card-desc-source
//-          include ../html/components/cards/card-desc.html
//-     .kitchensink-banner-section.component-section#ems-accordion
//-         include ../html/components/ems-components/accordion.html           
//-         button.btn.btn-copy(data-clipboard-target='#ems-accordion-source') Copy
//-         xmp#ems-accordion-source
//-          include ../html/components/ems-components/accordion.html
//-     .kitchensink-banner-section.component-section#ems-cta
//-         include ../html/components/ems-components/cta.html           
//-         button.btn.btn-copy(data-clipboard-target='#ems-cta-source') Copy
//-         xmp#ems-cta-source
//-          include ../html/components/ems-components/cta.html
//-     .kitchensink-banner-section.component-section#ems-carousel
//-         include ../html/components/ems-components/carousel.html           
//-         button.btn.btn-copy(data-clipboard-target='#ems-carousel-source') Copy
//-         xmp#ems-carousel-source
//-          include ../html/components/ems-components/carousel.html
//-     .kitchensink-banner-section.component-section#scrollTopBottom
//-         include ../html/components/scrolltopbottom/scrolltopbottom.html           
//-         button.btn.btn-copy(data-clipboard-target='#scrollTopBottom-source') Copy
//-         xmp#scrollTopBottom-source
//-          include ../html/components/scrolltopbottom/scrolltopbottom.html
//-     .kitchensink-banner-section.component-section#testimonial
//-         include ../html/components/testimonial/testimonial.html           
//-         button.btn.btn-copy(data-clipboard-target='#testimonial-source') Copy
//-         xmp#testimonial-source
//-          include ../html/components/testimonial/testimonial.html
//-     .kitchensink-banner-section.component-section#tab-accordion
//-         include ../html/components/responsive-tab-accordion/tab-accordion.html           
//-         button.btn.btn-copy(data-clipboard-target='#tab-accordion-source') Copy
//-         xmp#tab-accordion-source
//-          include ../html/components/responsive-tab-accordion/tab-accordion.html
//-     //.editanddownload
//-     //  include ../../../../editor/index.html