{% set dropdownCompItems = [
{id:"#healthcare-0", compid:"healthcare-accordion", compimage:"components/healthcare/healthcare-accordion", cardtitle:"Healthcare accordion", carddesc:"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs"},
{id:"#healthcare-1", compid:"healthcare-article", compimage:"components/healthcare/healthcare-article", cardtitle:"Healthcare article", carddesc:"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs"},
{id:"#healthcare-2", compid:"healthcare-carousel", compimage:"components/healthcare/healthcare-carousel", cardtitle:"Healthcare carousel", carddesc:"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs"},
{id:"#healthcare-4", compid:"healthcare-cta", compimage:"components/healthcare/healthcare-cta", cardtitle:"Healthcare cta", carddesc:"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs"}
] %}

{% include "component-list-template.njk" %}