{% set dropdownCompItems = [
{id:"#modalpopup-0", compid:"modalpopup-custom", compimage:"components/modalpopup/modalpopup-custom", cardtitle:"Modalpopup custom", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"}
] %}

{% include "component-list-template.njk" %}