 
 
 <div class="container">
    <div class="row">
        <div class="col-md-12">
      <div id="dashboard-carousel" class="carousel slide carousel-fade" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#dashboard-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#dashboard-carousel" data-slide-to="1"></li>
                <li data-target="#dashboard-carousel" data-slide-to="2"></li>
                <li data-target="#dashboard-carousel" data-slide-to="3"></li>
                <li data-target="#dashboard-carousel" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
              
                
                <div class="carousel-item active">
                
                  <div class="view">
                    <img class="d-block w-100" src= 'img/Presentation-Components@2x.jpg' alt="slide-img">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                  </div>
                </div>
                
                
                <div class="carousel-item">
                
                  <div class="view">
                    <img class="d-block w-100" src= 'img/Live-editor-banner-3@2x.jpg' alt="slide-img">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                  </div>
                </div>
                
                
                <div class="carousel-item">
                
                  <div class="view">
                    <img class="d-block w-100" src= 'img/Download-banner-2@2x.jpg' alt="slide-img">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                  </div>
                </div>
                
                
                <div class="carousel-item">
                
                  <div class="view">
                    <img class="d-block w-100" src= 'img/Custom-Download-banner-2@2x.jpg' alt="slide-img">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                  </div>
                </div>
                
                
                <div class="carousel-item">
                
                  <div class="view">
                    <img class="d-block w-100" src= 'img/Unit-testing@2x.jpg' alt="slide-img">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                  </div>
                </div>
                
              </div>        
            </div>
    
        </div>
      </div>
    </div>