{% set dropdownCompItems = [
{id:"#testimonial-0", compid:"testimonial-custom", compimage:"components/testimonial/testimonial-custom", cardtitle:"Testimonial custom ", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"}
] %}

{% include "component-list-template.njk" %}

