$light-grey1: #ccc;

// two col img desc
.custom-img-desc-container {
    padding: 10px;
    border: 1px solid $light-grey1;
    width: 100%;
    .img-desc-img {
        width: 49%;
        display: inline-block;
    }
    .tile-desc-body {
        float: right;
        width: 49%;
        .tile-desc-title {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
}