

   
<div class="dropdown-components trending-components tabs-components mb-4">
        
        <div class="row "> 
                     
                        
            <div class="col-md-6 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                       <div class="card-img-top">
                           
                           
<div class="container">
    <div class="row">
        <div class="col-md-12 custom-breadcrumb">
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    
                    
                     <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                                       
                    
                    
                     <li class="breadcrumb-item">
                        <a href="#">About</a>
                    </li>
                                       
                    
                    
                    <li class="breadcrumb-item active">Contact Us</li>
                                       
                    
                </ul>
            </nav>
        </div>
    </div>
</div> 

                        </div> 
                   </div>
                    <a href="#breadcrumb-0" class="arrow-circle rounded-circle text-center" id="breadcrumb-custom" ><i class="fa fa-angle-right"></i></a>
                     <a href="#" class="download-circle rounded-circle text-center"></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Breadcrumb</h5>
                        <p class="card-text">Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                    </div>
            </div>

            

            
        </div>
        <div class="view-more text-center">
            <button class="btn btn-primary rounded-0 ">VIEW MORE <span><i class="fa fa-angle-double-right"></i></span></button>
        </div>
    </div>