{% block content %}
<div class="container">
    <div class="custom-popover">
        <div class="row">
            <div class="col-md-4">
                <h4>Toggle Popover</h3>
                <a href="#" title="Header" data-toggle="popover" data-placement="left" data-content="Content">Click</a>
            </div>
            <div class="col-md-4">
                <h4> Dismissible Popover</h3>
                <a href="#" title="Dismissible popover" data-toggle="popover" data-trigger="focus" data-content="Click anywhere in the document to close this popover">Click here</a>
            </div>
            <div class="col-md-4">
                <h4> Hover Popover</h3>
                <a href="#" title="Header" data-toggle="popover" data-trigger="hover" data-content="Some content">Hover over here</a>
            </div>   
        </div>     
    </div>
</div>
{% endblock %}