{% set dropdownCompItems = [
{id:"#popover-0", compid:"popover-custom", compimage:"components/carousel/carousel-custom", cardtitle:"Popover custom", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"}
] %}
{% include "component-list-template.njk" %}