{% set dropdownCompItems = [
{id:"#banner-0", compid:"bannerimg", compimage:"components/banner/banner-bannerimg", cardtitle:"Banner image", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"}
] %}

{% include "component-list-template.njk" %}