{% block content %}
<div class="jumbotron jumbotron-fluid p-0">
    <div class="container banner-img-header">
        <div class="row">
            <div class="col-md-12 m-4">
                <h1 class="display-4 text-white">Hello, world!</h1>
                <p class="lead text-white w-50">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>               
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}