{# {% block content %}
{% set dropdownCompItems = [
{id:"#tab-0", compid:"nav-basictab", compimage:"../../../views/components/accordion/accordion-picture", cardtitle:"Basic Tabs", carddesc:"Some quick example text to build on the card title and make up the bulk of the card’s content."},
{id:"#tab-1", compid:"nav-basiclist", compimage:"../../../views/components/accordion/accordion-picture", cardtitle:"OUA Tabs", carddesc:"Some quick example text to build on the card title and make up the bulk of the card’s content."},
{id:"#tab-2", compid:"nav-basicpill",compimage:"../../../views/components/accordion/accordion-picture", cardtitle:"PSE Tabs", carddesc:"Some quick example text to build on the card title and make up the bulk of the card’s content."},
{id:"#tab-3", compid:"nav-basicpills1",compimage:"../../../views/components/accordion/accordion-picture", cardtitle:"Nalco Tabs", carddesc:"Some quick example text to build on the card title and make up the bulk of the card’s content."},
{id:"#tab-4", compid:"nav-basicpills2",compimage:"../../../views/components/accordion/accordion-picture", cardtitle:"Enbridge Tabs", carddesc:"Some quick example text to build on the card title and make up the bulk of the card’s content."}
] %}

{% include "component-list-template.njk" %}
{% endblock %}
      
      #}