{% block content %}
<div class="side-menu">
    <ul class="sidebar-nav nav-pills nav-stacked " id="menu">
        <li>
            <a href="#dashboard" class="dashboard">Dashboard </a>
        </li>
        
        <li>
            <a href="#basiccomponent" data-toggle="collapse" class="basic-compo collapsed">Basic Components </a>
            <ul id="basiccomponent" class="collapse ">
               
                <li>
                    <a href="#accordion">Accordion</a>
                </li>
                <li>
                    <a href="#banner">Banner image</a>
                </li>

                <li>
                    <a href="#breadcrumb">Breadcrumb</a>
                </li>

                <li>
                    <a href="#cards">Cards</a>
                </li>

                <li>
                    <a href="#carousel">Carousel</a>
                </li>
                <li>
                    <a href="#tabs">Tabs</a>
                </li>

                <li>
                    <a href="#modalpopup">Modal popup</a>
                </li>
                <li>
                    <a href="#nav">Nav</a>
                </li>
                
                <li>
                    <a href="#pagination">Pagination</a>
                </li>
                <li>
                    <a href="#testimonial">Testimonial</a>
                </li>                
                <li>
                    <a href="#popover">Popover</a>
                </li>
                <li>
                    <a href="#progressbar">Progressbar</a>
                </li>
                <li>
                    <a href="#scrolltopbottom">ScrollTopBottom</a>
                </li>
                <li>
                    <a href="#timeline">Timeline</a>
                </li>               
            </ul>
        </li>

        <li>
            <a href="#projectcomponent" data-toggle="collapse" class="project-list collapsed"> Industry  </a>
            <ul id="projectcomponent"  class="collapse list-unstyled">
                <li>
                 <a href="#healthcare">Healthcare</a>
                </li> 
                <li>
                    <a href="#" data-target="#chemical-menu" data-toggle="collapse" class="collapsed" >Chemical</a>
                    <ul id="chemical-menu" class="collapse list-unstyled">
                        <li>
                            <a href="#">Article</a>
                        </li>
                        <li>
                            <a href="#">Tabs</a>
                        </li>
                    </ul>                    
                </li>
                <li>
                    <a href="#" data-target="#insurance" data-toggle="collapse" class="collapsed">Insurance</a>
                    <ul id="insurance"  class="collapse list-unstyled">
                        <li>
                            <a href="#">Masanary grid</a>
                        </li>
                        <li>
                            <a href="#">Article</a>
                        </li>
                    </ul>                    
                </li>                 
                <li>
                    <a href="#" data-target="#education" data-toggle="collapse" class="collapsed">Education</a>
                    <ul id="education"  class="collapse list-unstyled">
                        <li>
                            <a href="#">Carousel</a>
                        </li>
                        <li>
                            <a href="#">Tabs</a>
                        </li>
                    </ul>                    
                </li>
                <li>
                    <a href="#" data-target="#energy" data-toggle="collapse" class="collapsed">Energy</a>
                    <ul id="energy"  class="collapse list-unstyled">
                        <li>
                            <a href="#">Outage Map</a>
                        </li>
                        <li>
                            <a href="#datatable">DataTable</a>
                        </li>
                    </ul>                       
                </li>  
                <li>
                    <a href="#" data-target="#mechanic" data-toggle="collapse" class="collapsed">Auto mobile</a>
                    <ul id="mechanic"  class="collapse list-unstyled">
                        <li>
                            <a href="#">CTA</a>
                        </li>
                        <li>
                            <a href="#">Tabs</a>
                        </li>
                    </ul>                       
                </li>                                             
            </ul>
        </li>         
          
            
        <li>
            <a href="#" class="layout readonly"> Layout </a>
        </li>
        <li>
            <a href="#" class="form readonly"> Form </a>
        </li>
        <li>
            <a href="#" class="table-list readonly"> Table </a>
        </li>
        <li>
            <a href="#" class="extension readonly"> Extension </a>
        </li>
    </ul>
</div>
{% endblock %}