{% block content %}
<div class="dashboard-bread">
    <div class="">
        <p class="p-2">
            <input type=""  id="search-components" name="Search" placeholder="Search Components">
        </p>
    </div>
</div>
{% endblock %}