{% block content %}
<div class="header-section">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary indexpage-projectname">
        <a class="navbar-brand" href="#">
            Sample Project
        </a>
        <button class="navbar-toggler" type="text" data-toggle="collapse" data-target="#menu-toggle-2" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="menu-toggle-1">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
            <a class="nav-link" href="#"><button class="btn navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> 
            <i class="fa fa-bars bar-font"></i>
            </button><span class="sr-only">(current)</span></a>
            </li>
        </ul>

        
        <div class="dashboard-bread">
            <div class="indexpage-search">
                <p class="p-2">
                    <input type="" name="Search" placeholder="Search Components">
                </p>
            </div>
        </div>
        

        </div>
    </nav>
</div>
{% endblock %}

  