

   
<div class="dropdown-components trending-components tabs-components mb-4">
        
        <div class="row "> 
                     
                        
            <div class="col-md-6 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                       <div class="card-img-top">
                           
                           
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="timeline-component">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"><i class="fa fa-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                <p><small class="text-muted"><i class="fa fa-time"></i> 11 hours ago via Twitter</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis
                                    quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="fa fa-credit-card"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis.</p>                       
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

                        </div> 
                   </div>
                    <a href="#timeline-0" class="arrow-circle rounded-circle text-center" id="timeline-basic" ><i class="fa fa-angle-right"></i></a>
                     <a href="#" class="download-circle rounded-circle text-center"></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Timeline basic </h5>
                        <p class="card-text">Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                    </div>
            </div>

            

            
        </div>
        <div class="view-more text-center">
            <button class="btn btn-primary rounded-0 ">VIEW MORE <span><i class="fa fa-angle-double-right"></i></span></button>
        </div>
    </div>

