<!-- one-column-content-page-with-hero.njk -->
{% extends "_base.njk" %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">          
            {% block main %} {% endblock %}
        </div>
      </div>
    </div>
{% endblock %}
<!-- /one-column-content-page-with-hero.njk -->