<!-- two-column-content-page.njk -->
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0">
    <meta name="format-detection" content = "telephone=no">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="css/kitchensink.css">
    <link rel="stylesheet" href="css/style.css"> 
    <title>Welcome | XD Studio</title>
    </head>
    <body>
        
        {% block header %}
            
        {% endblock %}
        <div class="main">
            <div class="two-column-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 col-lg-2">
                            <p> Hidfsdfbh </p>
                        </div>
                        <div class="col-md-10 col-lg-10">
                            {% block midsection %} {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block footer %}            
        {% endblock %}
    <script src="js/kitchensink/clipboard.min.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    {# <script type="text/javascript" src="[path to paramquery]/jsZip-2.5.0/jszip.min.js"></script> #}
    </body>
</html><!-- /two-column-content-page.njk -->