{% set dropdownCompItems = [
{id:"#scrolltopbottom-0", compid:"scrolltopbottom-custom", compimage:"components/scrolltopbottom/scrolltopbottom-custom", cardtitle:"Scroll top bottom", carddesc:"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs"}
] %}
{% include "component-list-template.njk" %}