{% set dropdownCompItems = [
{id:"#tab-0", compid:"tabs-basictab", compimage:"components/tabs/tabs-basictab", cardtitle:"Basic Tabs", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"},
{id:"#tab-1", compid:"tabs-accordion", compimage:"components/tabs/tabs-accordion", cardtitle:"Accordion Tabs", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"}
] %}

{% include "component-list-template.njk" %}

