{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img class="card-img img-fluid" src="img/Tile-img.jpg" alt="Card image">
                <div class="card-img-overlay mt-4">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text w-50">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}