{% set dropdownCompItems = [
{id:"#cards-0", compid:"cards-desc", compimage:"components/cards/cards-desc", cardtitle:"Card content", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"},
{id:"#cards-1", compid:"cards-img-overlay", compimage:"components/cards/cards-img-overlay", cardtitle:"Card image overlay", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"},
{id:"#cards-2", compid:"cards-img", compimage:"components/cards/cards-img", cardtitle:"Card image", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"},
{id:"#cards-3", compid:"cards-tile", compimage:"components/cards/cards-tile", cardtitle:"Card title", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"}

] %}

{% include "component-list-template.njk" %}