<div class="row">
<div class="col-md-6">
<ul id="search-comp">
   <p>Basic Components</p> 
    <li>
        <a href="#accordion">Accordion</a>
    </li>
    <li>
        <a href="#banner">Banner image</a>
    </li>

    <li>
        <a href="#breadcrumb">Breadcrumb</a>
    </li>

    <li>
        <a href="#cards">Cards</a>
    </li>

    <li>
        <a href="#carousel">Carousel</a>
    </li>
    <li>
        <a href="#tabs">Tabs</a>
    </li>

    <li>
        <a href="#modalpopup">Modal popup</a>
    </li>
    <li>
        <a href="#nav">Nav</a>
    </li>
    
    <li>
        <a href="#pagination">Pagination</a>
    </li>
    <li>
        <a href="#testimonial">Testimonial</a>
    </li>                
    <li>
        <a href="#popover">Popover</a>
    </li>
    <li>
        <a href="#progressbar">Progressbar</a>
    </li>
    <li>
        <a href="#scrolltopbottom">ScrollTopBottom</a>
    </li>
    <li>
        <a href="#timeline">Timeline</a>
    </li> 

</ul>
</div>
<div class="col-md-6">
<ul id="theme-comp">
   <p>Industry wise Components</p> 
    <li>       
        <ul>
            <li><a href="#healthcare-accordion">healthcare-accordion</a></li>
            <li><a href="#healthcare-cta">healthcare-cta</a></li>
        </ul>
    </li>
     <li>        
        <ul>
            <li><a href="#">Chemical-Article</a></li>
            <li><a href="#">Chemical-Tabs</a></li>
        </ul>
    </li>
     <li>        
        <ul>
            <li><a href="#">Mechanical-Article</a></li>
            <li><a href="#">Mechanical-Tabs</a></li>
        </ul>
    </li>
</ul>
</div>
</div>