

   
<div class="dropdown-components trending-components tabs-components mb-4">
        
        <div class="row "> 
                     
                        
            <div class="col-md-6 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                       <div class="card-img-top">
                           
                           
<div class="container">
    <div class="row">
        <div class="col-md-12 custom-accordion">
    <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

    <div class="card">
        <div class="card-header" role="tab" id="headingTwo1">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
            aria-expanded="false" aria-controls="collapseTwo1">
            <h5 class="mb-0">
            Collapsible Group Item #1 <i class="fa fa-angle-down rotate-icon"></i>
            </h5>
        </a>
        </div>
        <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#accordionEx1">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf
            moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch
            3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch
            et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            Ad
            vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
        </div>

    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo2">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21"
            aria-expanded="false" aria-controls="collapseTwo21">
            <h5 class="mb-0">
            Collapsible Group Item #2 <i class="fa fa-angle-down rotate-icon"></i>
            </h5>
        </a>
        </div>
        <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21" data-parent="#accordionEx1">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf
            moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch
            3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch
            et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            Ad
            vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
        </div>

    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree31">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
            aria-expanded="false" aria-controls="collapseThree31">
            <h5 class="mb-0">
            Collapsible Group Item #3 <i class="fa fa-angle-down rotate-icon"></i>
            </h5>
        </a>
        </div>
        <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31" data-parent="#accordionEx1">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf
            moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch
            3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch
            et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            Ad
            vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
        </div>
    </div>
    </div>       
        </div>
    </div>
</div> 

                        </div> 
                   </div>
                    <a href="#accordion-0" class="arrow-circle rounded-circle text-center" id="accordion-banking" ><i class="fa fa-angle-right"></i></a>
                     <a href="#" class="download-circle rounded-circle text-center"></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Accordion banking</h5>
                        <p class="card-text">Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s.</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                    </div>
            </div>

            

                         
                        
            <div class="col-md-6 mb-4">
                <div class="card trending-comp-card position-relative">                                    
                   <div class="recent-component-view">
                       <div class="card-img-top">
                           
                           
<div class="container">
    <div class="row">
        <div class="col-md-12 accordion-picture">
            <div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
                <div class="card">
                    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading96">
                    <h5 class="text-uppercase mb-0 py-1">
                        <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="true"
                        aria-controls="collapse96">
                        Accordion-1                        
                        </a>  
                        <i class="fa fa-angle-down rotate-icon float-right white-text"></i>                                            
                    </h5>                     
                    </div>
                    <div id="collapse96" class="collapse show" role="tabpanel" aria-labelledby="heading96" data-parent="#accordionEx23">
                    <div class="card-body">
                        <div class="row my-4">
                        <div class="col-md-8">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                            <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading97">
                    <h5 class="text-uppercase mb-0 py-1">
                        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse97"
                        aria-expanded="false" aria-controls="collapse97">
                        Accordion-2                        
                        </a>  
                        <i class="fa fa-angle-down rotate-icon float-right white-text"></i>                      
                    </h5>
                    
                    </div>
                    <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97" data-parent="#accordionEx23">
                    <div class="card-body">
                        <div class="row my-4">
                        <div class="col-md-8">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                            <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading98">
                    <h5 class="text-uppercase mb-0 py-1">
                        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse98"
                        aria-expanded="false" aria-controls="collapse98">
                        Accordion-3                       
                        </a>
                        <i class="fa fa-angle-down rotate-icon float-right white-text"></i> 
                    </h5>
                    </div>
                    <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98" data-parent="#accordionEx23">
                    <div class="card-body">
                        <div class="row my-4">
                        <div class="col-md-8">
                            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the third one.</h2>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                            <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                        </div> 
                   </div>
                    <a href="#accordion-1" class="arrow-circle rounded-circle text-center" id="accordion-healthcare" ><i class="fa fa-angle-right"></i></a>
                     <a href="#" class="download-circle rounded-circle text-center"></a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">Accordion healthcare</h5>
                        <p class="card-text">Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s.</p>                        
                    </div>                                      
                    <div class="card-footer-data text-center">
                        <span class="view-date mr-3"><i class="fa fa-clock-o"></i> 19/03/2019 </span>
                        <span class="chat-reply mr-3"><i class="fa fa-comments"></i> 12 </span>
                        <span class="notification"><i class="fa fa-twitter"></i> 3 </span>
                    </div>
                    </div>
            </div>

            

            
        </div>
        <div class="view-more text-center">
            <button class="btn btn-primary rounded-0 ">VIEW MORE <span><i class="fa fa-angle-double-right"></i></span></button>
        </div>
    </div>