{% set dropdownCompItems = [
{id:"#carousel-0", compid:"carousel-custom", compimage:"components/carousel/carousel-custom", cardtitle:"Carousel custom", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"},
{id:"#carousel-1", compid:"carousel-dashboard", compimage:"components/carousel/carousel-dashboard", cardtitle:"Carousel dashboard", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"}
] %}
{% include "component-list-template.njk" %}