{% set dropdownCompItems = [
{id:"#breadcrumb-0", compid:"breadcrumb-custom", compimage:"components/breadcrumb/breadcrumb-custom", cardtitle:"Breadcrumb", carddesc:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"}
] %}

{% include "component-list-template.njk" %}