

<div class="container">
    <div class="row">
        <div class="col-md-12 custom-nav-list">
            <ul class="nav">
                
                <li class="nav-item">
                
                <a class="nav-link" href="#">Home</a>
                
                </li>
                
                <li class="nav-item">
                
                <a class="nav-link" href="#">About</a>
                
                </li>
                
                <li class="nav-item">
                
                <a class="nav-link" href="#">Services</a>
                
                </li>
                
                <li class="nav-item">
                
                <a class="nav-link disabled" href="#">Personal Info</a>
                
                </li>
                                
            </ul>
        </div>
    </div>
</div>
