{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-6 carousel-container">
            <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/Tile-img.jpg" alt="Los Angeles" width="1100" height="300">
                        <div class="carousel-caption">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In suscipit, nunc eu lobortis aliquam, dui dolor finibus sem, condimentum fermentum elit nunc tristique elit. Curabitur in venenatis dolor.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/Tile-img.jpg" alt="Chicago" width="1100" height="300">
                        <div class="carousel-caption">
                           <h3>Lorem ipsum</h3>
                           <p>We had such a great time in LA!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/Tile-img.jpg" alt="New York" width="1100" height="300">
                        <div class="carousel-caption">
                           <h3>Lorem ipsum</h3>
                           <p>We had such a great time in LA! We had such a great time in LA! We had such a great time in LA!We had such a great time in LA!</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-1" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#carousel-1" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 carousel-container">
            <div id="carousel-2" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-2" data-slide-to="1"></li>
                    <li data-target="#carousel-2" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/Tile-img.jpg" alt="Los Angeles" width="1100" height="300">
                    </div>
                    <div class="carousel-item">
                        <img src="img/Tile-img.jpg" alt="Chicago" width="1100" height="300">
                    </div>
                    <div class="carousel-item">
                        <img src="img/Tile-img.jpg" alt="New York" width="1100" height="300">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-2" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#carousel-2" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}