{% set CookieText=" This website is using cookies" %}
{% set ButtonText ="Cokie Close" %}
{% block content %}
<div id="divCookiclose" class="cookie-alert-container cookie-div">
    <div class="alert alert-dismissible cookiealert">
        <div class="cookiealert-container" role="alert">
            <div class="cookie-content">
                {{CookieText}}
                <a href="#" target="_blank">more info...</a>
            </div>
            <a href="javascript:void(0)" id="btnCookieClose" class="cookie-close">&times;</a>
            <p class="cookie-button"><a href="javascript:void(0)" id="btnCookieClose1" class="btn btn-primary btn-sm cookie-close">{{ButtonText}}</a></p>
        </div>
    </div>
</div>
{% endblock %}