{# <!-- base.njk -->
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0">
    <meta name="format-detection" content = "telephone=no">
    {# <link href="./bootstrap/bootstrap.min.css" rel="stylesheet"> #}  
    {# <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"> 
    <link rel="stylesheet" href="css/kitchensink.css">
    <link rel="stylesheet" href="css/style.css"> 
    <title>Welcome | Balakumar</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="container-fluid header-section">
                <nav class="navbar navbar-dark bg-primary">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <a class="navbar-brand" href="#">Hidden brand</a>
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a href="#"> John Doe <span class="glyphicon glyphicon-user"></span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="main">
                {% block content %}
                {% endblock %}
            </div>

            {% block footer %}
                
            {% endblock %}
        <script src="js/kitchensink/clipboard.min.js"></script>
        <script src="js/vendor/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="[path to paramquery]/jsZip-2.5.0/jszip.min.js"></script>
        </div>
    </body>
</html> #} 