{% set dropdownCompItems = [
{id:"#pagination-0", compid:"pagination-custom", compimage:"components/pagination/pagination-custom", cardtitle:"Pagination custom", carddesc:"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs"}
] %}
{% include "component-list-template.njk" %}